<!--what is going to be displayed in the index-->
<div class="display-activity">
  <li>
    {{#link-to 'occupation' occupation.id}}<img src={{occupation.image}}>{{/link-to}}
    {{occupation.name}} in {{occupation.area}}<br>
  </li>
</div>
