<h2>About this website:</h2>

<p>The activity website was created to explore the many thing Hong Kong has to offer! This application allows us to rate and review thing to do in Hong Kong. Also it is possible for you to make a list of thing you want to add to you bucket-list.<br>
Never get bored again, and always be inspired to discover your city!</p>

{{#link-to 'index'}}Back to awesome inspiration!{{/link-to}}
